
.vs/*

CurrencyToTextConverter.Client.Wpf.Tests/bin/*
CurrencyToTextConverter.Client.Wpf.Tests/obj/*

CurrencyToTextConverter.Domain.Tests/bin/*
CurrencyToTextConverter.Domain.Tests/obj/*

CurrencyToTextConverter.Domain/bin/*
CurrencyToTextConverter.Domain/obj/*

CurrencyToTextConverter.Tests/bin/*
CurrencyToTextConverter.Tests/obj/*

CurrencyToTextConverter.zip

CurrencyToTextConverter/bin/*
CurrencyToTextConverter/obj/*

CurrencyToTextConverterService.ConcoleHost/bin/*
CurrencyToTextConverterService.ConcoleHost/obj/*

CurrencyToTextConverterService/bin/*
CurrencyToTextConverterService/obj/*

CurrencyToTexyConverter.Client.Wpf/bin/*
CurrencyToTexyConverter.Client.Wpf/obj/*

packages/*
