<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="maxValueOfDollars" value="999999999" /> <!-- ignoring cents as we will use decimal part of currency. Cents always are up to 100 -->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICurrencyConversionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2112/CcyConv" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICurrencyConversionService"
        contract="CurrencyConversionService.ICurrencyConversionService"
        name="BasicHttpBinding_ICurrencyConversionService" />
    </client>
  </system.serviceModel>
</configuration>